
</br>
</br>
</br>
</br>
</br>

<p style="color:#242424;font-size:36px;font-weight:bold;text-align:center;">Our shopping cart is currently experiencing technical difficulties.  Please temporarily phone in orders @ </p>
<p style=”color:#000;font-size:36px;font-weight:normal;text-align:center;”><a href="tel:+13346939203">334-693-9203</a></p>
<hr />
